<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{poseplz.tag.menu.detail}"></title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css"/>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
</head>
<body>
<main class="d-flex flex-nowrap">
    <div th:replace="~{fragments/header :: header}">Header</div>
    <div class="container">
        <h1 th:text="#{poseplz.tag.menu.detail}"></h1>
        <div>
            <a class="btn btn-primary" th:href="'/tag/' + ${tag.tagId} + '/edit'" role="button"
               th:text="#{poseplz.tag.menu.edit}"></a>
        </div>
        <table class="table table-hover">
            <tbody class="table-container">
            <tr>
                <th th:text="#{poseplz.tag.id}"></th>
                <td th:text="${tag.tagId}"></td>
            </tr>
            <tr>
                <th th:text="#{poseplz.tag.type}"></th>
                <td th:text="${tag.type.displayName}"></td>
            </tr>
            <tr>
                <th th:text="#{poseplz.tag.name}"></th>
                <td th:text="${tag.name}"></td>
            </tr>
            <tr>
                <th th:text="#{poseplz.tag.selectorName}"></th>
                <td th:text="${tag.selectorName}"></td>
            </tr>
            <tr>
                <th th:text="#{poseplz.tag.selectorDisplayOrder}"></th>
                <td th:text="${tag.selectorDisplayOrder}"></td>
            </tr>
            <tr>
                <th th:text="#{poseplz.tag.emojiImageUrl}"></th>
                <td th:text="${tag.emojiImageUrl}"></td>
            </tr>
            <tr>
                <th th:text="#{poseplz.tag.emojiText}"></th>
                <td th:text="${tag.emojiText}"></td>
            </tr>
            <tr>
                <th th:text="#{poseplz.tag.description}"></th>
                <td th:text="${tag.description}"></td>
            </tr>
            <tr>
                <th th:text="#{poseplz.tag.deleted}"></th>
                <td th:text="${tag.deleted}"></td>
            </tr>
            <tr>
                <th th:text="#{poseplz.tag.createdAt}"></th>
                <td th:text="${tag.createdAt}"></td>
            </tr>
            <tr>
                <th th:text="#{poseplz.tag.updatedAt}"></th>
                <td th:text="${tag.updatedAt}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
<div th:insert="~{fragments/footer :: footer-admin}">&copy; 2023 The Static Templates</div>
</body>
</html>
