<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{poseplz.brand.menu.list}"></title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css"/>
    <link rel="stylesheet" href="/css/common.css" type="text/css"/>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
</head>
<body>
<main class="d-flex flex-nowrap">
    <div th:replace="~{fragments/header :: header}">Header</div>
    <div class="container">
        <h1 th:text="#{poseplz.brand.menu.list}"></h1>
        <div>
            <a class="btn btn-primary" href="/brand/add" role="button" th:text="#{poseplz.brand.menu.add}"></a>
        </div>
        <table class="table table-hover">
            <thead class="table-header thead-light">
            <tr>
                <th th:text="#{poseplz.brand.id}"></th>
                <th th:text="#{poseplz.brand.name}"></th>
                <th th:text="#{poseplz.brand.createdAt}"></th>
                <th th:text="#{poseplz.brand.updatedAt}"></th>
                <th th:text="#{poseplz.brand.deleted}"></th>
            </tr>
            </thead>
            <tbody class="table-container">
            <tr th:each="brand : *{brandPage.content}">
                <td>
                    <a th:href="${'/brand/' + brand.brandId}"
                       th:text="${brand.brandId}">
                    </a>
                </td>
                <td th:text="${brand.brandId}"></td>
                <td th:text="${brand.name}"></td>
                <td th:text="${brand.createdAt}"></td>
                <td th:text="${brand.updatedAt}"></td>
                <td th:text="${brand.deleted}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
<div th:insert="~{fragments/footer :: footer-admin}">&copy; 2023 The Static Templates</div>
</body>
</html>
