<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{poseplz.pose.menu.list}"></title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css"/>
    <link rel="stylesheet" href="/css/common.css" type="text/css"/>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
</head>
<body>
<main class="d-flex flex-nowrap">
    <div th:replace="~{fragments/header :: header}">Header</div>
    <div class="container">
        <h1 th:text="#{poseplz.pose.menu.list}"></h1>
        <div>
            <a class="btn btn-primary" href="/pose/add" role="button" th:text="#{poseplz.pose.menu.add}"></a>
        </div>
        <form>
            <div class="form-group">
                <label for="tagIds" th:text="#{poseplz.pose.tags}"></label>
                <select class="form-control" id="tagIds" name="tagIds" multiple="multiple" style="height: 30rem">
                    <option th:each="tag : *{tags}" th:value="${tag.tagId}" th:text="${tag.name} + ' (' + ${tag.count} + ')'"></option>
                </select>
                <small class="form-text text-muted">`Ctrl + Click` or `Command + Click` 으로 여러개 선택 가능</small>
            </div>
            <button formmethod="post" type="submit" class="btn btn-primary" th:text="#{poseplz.button.search}"></button>
        </form>
        <table class="table table-hover">
            <thead class="table-header thead-light">
            <tr>
                <th th:text="#{poseplz.pose.file}"></th>
                <th th:text="#{poseplz.pose.peopleCount}"></th>
                <th th:text="#{poseplz.pose.tags}"></th>
                <th th:text="#{poseplz.pose.createdAt}"></th>
                <th th:text="#{poseplz.pose.updatedAt}"></th>
                <th th:text="#{poseplz.pose.updatedBy}"></th>
                <th th:text="#{poseplz.pose.deleted}"></th>
            </tr>
            </thead>
            <tbody class="table-container">
            <tr th:each="pose : *{poses}">
                <td>
                    <a th:href="${'/pose/' + pose.poseId}">
                        <img class="img-thumbnail"
                             th:src="${'/api/v1/files/' + pose.file.fileId}"
                             th:alt="${pose.poseId}"
                             style="height: 200px"
                        />
                    </a>
                </td>
                <td th:text="${pose.peopleCount}"></td>
                <td>
                    <div class="row">
                        <span th:each="poseTag : *{pose.poseTags}" th:text="${poseTag.tag.name}"></span>
                    </div>
                </td>
                <td th:text="${pose.createdAt}"></td>
                <td th:text="${pose.updatedAt}"></td>
                <td th:text="${pose.updatedBy}"></td>
                <td th:text="${pose.deleted}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
<div th:insert="~{fragments/footer :: footer-admin}">&copy; 2023 The Static Templates</div>
</body>
</html>
