<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>File Detail</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css"/>
    <link rel="stylesheet" href="/css/common.css" type="text/css"/>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
</head>
<body>
<main class="d-flex flex-nowrap">
    <div th:replace="~{fragments/header :: header}">Header</div>
    <div class="container">
        <h1>File Detail</h1>
        <table class="table table-hover">
            <tbody class="table-container">
            <tr>
                <th>fileId</th>
                <td th:text="${file.getFileId()}"></td>
            </tr>
            <tr>
                <th>name</th>
                <td th:text="${file.getName()}"></td>
            </tr>
            <tr>
                <th>contentType</th>
                <td th:text="${file.getContentType()}"></td>
            </tr>
            <tr>
                <th>size</th>
                <td th:text="${file.getSize()}"></td>
            </tr>
            <tr>
                <th>deleted</th>
                <td th:text="${file.getDeleted()}"></td>
            </tr>
            <tr>
                <th>createdAt</th>
                <td th:text="${file.getCreatedAt()}"></td>
            </tr>
            <tr>
                <th>updatedAt</th>
                <td th:text="${file.updatedAt}"></td>
            </tr>
            <tr>
                <th>updatedBy</th>
                <td th:text="${file.updatedBy} ?: ''"></td>
            </tr>
            <tr>
                <th>image</th>
                <td>
                    <img class="img-thumbnail"
                         th:src="${'/api/v1/files/' + file.getFileId()}"
                         th:alt="${file.getFileId()}"
                    />
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
<div th:insert="~{fragments/footer :: footer-admin}">&copy; 2023 The Static Templates</div>
</body>
</html>
