<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>File</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css"/>
    <link rel="stylesheet" href="/css/common.css" type="text/css"/>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
</head>
<body>
<main class="d-flex flex-nowrap">
    <div th:replace="~{fragments/header :: header}">Header</div>
    <div class="container">
        <h1>File</h1>
        <table class="table table-hover">
            <thead class="table-header thead-light">
            <tr>
                <th>thumbnail</th>
                <th>name</th>
                <th>contentType</th>
                <th>size</th>
                <th>deleted</th>
                <th>createdAt</th>
                <th>updatedAt</th>
                <th>updatedBy</th>
            </tr>
            </thead>
            <tbody class="table-container">
            <tr th:each="file : *{files}">
                <td>
                    <a th:href="${'/file/' + file.getFileId()}">
                        <img class="img-thumbnail"
                             th:src="${'/api/v1/files/' + file.getFileId()}"
                             th:alt="${file.getFileId()}"
                             style="height: 200px"
                        />
                    </a>
                </td>
                <td th:text="${file.getName()}"></td>
                <td th:text="${file.getContentType()}"></td>
                <td th:text="${file.getSize()}"></td>
                <td th:text="${file.getDeleted()}"></td>
                <td th:text="${file.getCreatedAt()}"></td>
                <td th:text="${file.getUpdatedAt()}"></td>
                <td th:text="${file.getUpdatedBy()} ?: ''"></td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
<div th:insert="~{fragments/footer :: footer-admin}">&copy; 2023 The Static Templates</div>
</body>
</html>
